@font-face {
  font-family: 'minangkabau';
  src: url(./../fonts/Minangkabau.woff) format("woff");
}
@font-face {
  font-family: 'bazar';
  src: url(./../fonts/Bazar.woff) format("woff");
}
@font-face {
  font-family: 'Korean_Calligraphy';
  src: url(./../fonts/Korean_Calligraphy.woff) format("woff");
}
#anime-dir h1, #sort-bar div, .content .content-th-title {
  font-family: bazar;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.page-title {
  font-family: minangkabau;
  font-weight: 500;
  text-align: center;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  border-bottom: 1px dashed #ccc;
  margin: 0;
  width: 100vw;
}

.bot-hr {
  position: absolute;
  bottom: 5px;
}

.top-hr {
  position: absolute;
  top: 5px;
}

.top-bar {
  background: #777777;
}
.top-bar #top-bar-logo {
  cursor: pointer;
  margin-bottom: 5px;
}
@media only screen and (max-width: 480px) {
  .top-bar #top-bar-logo {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
.top-bar img {
  cursor: pointer;
}
.top-bar div {
  position: relative;
}
.top-bar div div .padding-lr-35 {
  padding: 0 0vw 0 2vw;
}
@media only screen and (max-width: 480px) {
  .top-bar div div .padding-lr-35 {
    padding: 0;
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.top-bar div div .padding-lr-35 .social {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 480px) {
  .top-bar div div .padding-lr-35 .social {
    display: none;
  }
}
.top-bar div div .padding-lr-35 .social :hover {
  background-color: #3a3a3a;
  padding: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search-box {
  border: 2px solid #3a3a3a;
  border-radius: 5px;
  background-color: #3a3a3a;
  margin-bottom: 5px;
}
@media only screen and (max-width: 480px) {
  .search-box {
    border-radius: 2px;
  }
}
.search-box input {
  border: 3px solid #3a3a3a;
}
@media only screen and (max-width: 480px) {
  .search-box input {
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
  }
}
.search-box input[type=text]:focus, .search-box textarea:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #3a3a3a;
}
@media only screen and (max-width: 480px) {
  .search-box input[type=text]:focus, .search-box textarea:focus {
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
  }
}
.search-box img {
  cursor: pointer;
  margin: 0;
  float: left;
  padding-top: 3px;
  padding-left: 1px;
}
.search-box img :hover {
  background-color: black;
}

.page-title {
  font-size: 52px;
  color: #f5eed8;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px #000000 ,1px 1px 1px #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 1210px) {
  .page-title {
    font-size: 46px;
  }
}
@media only screen and (max-width: 1055px) {
  .page-title {
    font-size: 43px;
  }
}
@media only screen and (max-width: 961px) {
  .page-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 764px) {
  .page-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 700px) {
  .page-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 590px) {
  .page-title {
    font-size: 27px;
  }
}
@media only screen and (max-width: 530px) {
  .page-title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .page-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 460px) {
  .page-title {
    font-size: 27px;
  }
}
@media only screen and (max-width: 415px) {
  .page-title {
    font-size: 24px;
  }
}

.page-caption {
  font-family: Korean_Calligraphy;
  font-weight: 500;
  text-align: right;
  font-size: 18px;
  color: #f5eed8;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px #000000 ,1px 1px 1px #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 961px) {
  .page-caption {
    font-size: 16px;
  }
}
@media only screen and (max-width: 760px) {
  .page-caption {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .page-caption {
    font-size: 16px;
  }
}
@media only screen and (max-width: 460px) {
  .page-caption {
    font-size: 14px;
  }
}
@media only screen and (max-width: 415px) {
  .page-caption {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .page {
    margin-top: 7px;
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}

body {
  background-color: #e2dccc;
  overflow-x: hidden;
}

#anime-dir h1 {
  font-size: 60px;
  color: #3a3a3a;
  margin: 0;
  text-shadow: 1px 1px 1px #ffffff ,3px 3px 1px #000000;
  margin-top: 3vh;
}
#anime-dir div hr {
  margin: 0;
  background-color: #000000;
  color: #000000;
  margin-top: 10px;
  border-bottom: 1px solid #000000;
}
#anime-dir div p {
  text-align: center;
}
@media only screen and (max-width: 760px) {
  #anime-dir h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 480px) {
  #anime-dir h1 {
    font-size: 25px;
    text-shadow: 1px 1px 1px #ffffff ,1px 1px 1px #000000;
  }
  #anime-dir div hr {
    margin-top: 5px;
  }
  #anime-dir div p {
    margin: 0;
    padding: 0;
    text-align: center;
    clear: none;
    font-size: 10px;
  }
}

#sort-bar {
  background-color: #f28a6e;
  clear: left;
  text-align: center;
  position: relative;
  width: 100vw;
  z-index: 9999;
}
@media only screen and (max-width: 760px) {
  #sort-bar {
    font-size: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #sort-bar {
    width: 100%;
  }
}
#sort-bar div {
  color: #f5eed8;
  margin: 0 auto;
  font-size: 36px;
  display: inline-block;
  margin: 1vh auto;
  padding: 0 2vw;
  text-shadow: 1px 1px 1px #000000;
}
@media only screen and (max-width: 760px) {
  #sort-bar div {
    font-size: 28px;
  }
}
@media only screen and (max-width: 480px) {
  #sort-bar div {
    font-size: 14px;
    margin-left: 8px;
  }
}

.content {
  margin-top: 35px;
}
@media only screen and (max-width: 760px) {
  .content {
    margin-top: 28px;
  }
}
@media only screen and (max-width: 480px) {
  .content {
    margin-top: 16px;
  }
}
.content .content-thumb {
  background: #fbfaf6;
                    /*
height: 75px;*/
  margin: 1vh;
  border-radius: 5px;
  border: 3px solid #fbfaf6;
}
.content .content-th-title {
  color: #3a3a3a;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  padding: 1vh;
}
