

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face{
    font-family:minangkabau;
    src: url(Minangkabau.woff);/*
    src:url(blokletters-viltstift-webfont.woff);*/
}
@font-face{
    font-family:bazar;
    src: url(./../fonts/Bazar.woff);/*
    src:url(blokletters-viltstift-webfont.woff);*/
}

.page-title{
    font-family:minangkabau;
    font-size: 12vw;
    text-align: center;
    color: #f5eed8;
}
.main-div{
    background: #777777;
    min-width: 100vw;
    width: auto!important;
    min-height: 84vh;
    height: auto!important;
    position: relative;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}
.col-xs-1,.col-xs-11{
    padding: 0;
    margin: 0;
}
.anime-dir{
    font-family: bazar;
    font-size: 30px;
    font-weight: 500;
    cursor:pointer;
    text-align: center;
    color: #f5eed8;/*
    padding-bottom: 2px;*/
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #000000;
}
.anime-dir:hover{

    color: #f2d28f;
}
.recent-title{
    font-family: bazar;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #3a3a3a;
    margin:0;
    text-shadow:1px 1px 1px #ffffff ,3px 3px 1px #000000;
    margin-top: 3vh;
}
.recent-added{
    clear: both;
    background: #e2dccc;
    width: 100vw;
    position: relative;
}
.recent-thumb{
    background: #fbfaf6;/*
    height: 75px;*/
    margin: 1vh;
    border-radius: 5px;
    border: 3px solid #fbfaf6;

}
.recent-th-title{
    color: #383a3c;
    text-align: center;
    font-family: bazar;
    margin: 0;
    text-transform:uppercase;
    font-weight: 200;
    padding:1vh
}
hr{
    border: 0;
    height: 1px;
    border-bottom: 1px dashed #ccc;
    margin: 0;
    width: 100vw;
}
body{
    overflow-x: hidden;
}
.footer{
    background-color: #F28A6E;
    position: relative;
}
.footer h1{
    font-family: bazar;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #f5eed8;
    margin:0;
    text-shadow:1px 1px 1px #000000 ,2px 2px 1px #f5eed8;;
    margin-top: 3vh;
    text-transform: uppercase;
}
.footer-txt{
    font-family: bazar;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #f5eed8;
    margin:0;
    text-transform: uppercase;
    clear: both;
}