/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'minangkabau';
  src: url(./../fonts/Minangkabau.woff) format("woff");
}
@font-face {
  font-family: 'bazar';
  src: url(./../fonts/Bazar.woff) format("woff");
}
@font-face {
  font-family: 'Korean_Calligraphy';
  src: url(./../fonts/Korean_Calligraphy.woff) format("woff");
}
.anime-dir, .recent-title, .recent-th-title, .footer h1, .footer-txt {
  font-family: bazar;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  border-bottom: 1px dashed #ccc;
  margin: 0;
  width: 100vw;
}

.bot-hr {
  position: absolute;
  bottom: 5px;
}

.top-hr {
  position: absolute;
  top: 5px;
}

.page-title {
  font-family: minangkabau;
  font-size: 12vw;
  text-align: center;
  color: #f5eed8;
}

.main-div {
  background: #777777;
  min-width: 100vw;
  width: auto !important;
  min-height: 90vh;
  height: auto !important;
  position: relative;
}
.main-div input[type=text]:focus, .main-div textarea:focus {
  box-shadow: none;
  outline: none;
  border: 4px solid #3a3a3a;
}
.main-div p {
  clear: both;
  margin: 0;
}
.main-div div img {
  margin-top: 5vh;
}
.main-div div div {
  border: 5px solid #3a3a3a;
  border-radius: 5px;
  background-color: #3a3a3a;
  width: 100%;
  height: 48px;
  margin-top: 7vh;
}
.main-div div div input {
  height: 40px;
  border: 5px solid #3a3a3a;
}
.main-div div div img {
  max-height: 42px;
  max-width: 45px;
  cursor: pointer;
  margin: 0;
}

.space-p {
  font-size: 5px;
  margin: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
}

.col-xs-1, .col-xs-11 {
  padding: 0;
  margin: 0;
}

.anime-dir {
  font-size: 30px;
  cursor: pointer;
  color: #f5eed8;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #000000;
}

.anime-dir:hover {
  color: #f2d28f;
}

.recent-title {
  font-size: 60px;
  color: #3a3a3a;
  margin: 0;
  text-shadow: 1px 1px 1px #ffffff ,3px 3px 1px #000000;
  margin-top: 3vh;
}

.recent-added {
  clear: both;
  background: #e2dccc;
  width: 100vw;
  position: relative;
}
.recent-added p {
  clear: both;
  margin: 0;
}
.recent-added div hr {
  border-bottom: 1px solid black;
  padding: 5px 0 5px 0;
}
.recent-added div p {
  margin: 0;
  padding: 0;
  text-align: center;
  clear: none;
}

.recent-thumb {
  background: #fbfaf6;
                  /*
height: 75px;*/
  margin: 1vh;
  border-radius: 5px;
  border: 3px solid #fbfaf6;
}

.recent-th-title {
  color: #3a3a3a;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  padding: 1vh;
}

body {
  overflow-x: hidden;
}

.footer {
  background-color: #f28a6e;
  position: relative;
}
.footer h1 {
  font-size: 40px;
  color: #f5eed8;
  margin: 0;
  text-shadow: 1px 1px 1px #000000 ,2px 2px 1px #f5eed8;
  margin-top: 3vh;
}
.footer div div hr {
  border-bottom: 1px solid white;
  padding: 5px 0 5px 0;
}
.footer div div p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #f5eed8;
}
.footer .social {
  margin-top: 3vh;
}

.footer-txt {
  font-size: 20px;
  color: #f5eed8;
  margin: 0;
  clear: both;
}
