@font-face {
  font-family: 'minangkabau';
  src: url(./../fonts/Minangkabau.woff) format('woff');
}
@font-face {
  font-family: 'bazar';
  src:url(./../fonts/Bazar.woff) format('woff');
}
@font-face {
  font-family: 'Korean_Calligraphy';
  src:url(./../fonts/Korean_Calligraphy.woff) format('woff');
}
@mixin phone{
  @media only screen and (max-width: 480px) {
        @content;
  }
}
@mixin tablet{
  @media only screen and (max-width: 760px) {
    @content;
  }
}
@mixin screens($scwidth){
  @media only screen and (max-width: $scwidth) {
    @content;
  }
}
@mixin transition($transition-property:all, $transition-time:0.8s, $method:ease-in-out) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
$darkf:#3a3a3a;
$lightf:#F5EED8;
$darkbg:#777777;
$lightbg: #e2dccc;
$orangebg:#F28A6E;
%bazar-heading{
  font-family: bazar;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
%minangkabau-heading{
  font-family: minangkabau;
  font-weight: 500;
  text-align: center;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding: 0;
}
hr{
  border: 0;
  height: 1px;
  border-bottom: 1px dashed #ccc;
  margin: 0;
  width: 100vw;
}
.bot-hr{
  position: absolute;
  bottom: 5px;
}
.top-hr{
  position: absolute;
  top: 5px;
}