@import "singularitygs";
@import "breakpoint";
@import "constant";
.top-bar{
  #top-bar-logo{
    cursor: pointer;
    margin-bottom: 5px;
    @include phone{
      @include grid-span(2,1);
    }
  }
  img{
    cursor: pointer;
  }
  background:$darkbg;
  div{
    div {
      .padding-lr-35{
        padding: 0 0vw 0 2vw;

        @include phone{
          padding: 0;
          @include grid-span(6,7);

        }
      }
    }
    position: relative;
  }
}
.search-box {
  border: 2px solid $darkf;
  border-radius: 5px;
  background-color: $darkf;
  margin-bottom: 5px;
  @include phone{
    border-radius: 2px;
  }
  input {
    border: 3px solid $darkf;
    @include phone{
      border-top: 2px solid $darkf;
      border-bottom: 2px solid $darkf;
    }
  }
  input[type=text]:focus, textarea:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid $darkf;
    @include phone{
      border-top: 1px solid $darkf;
      border-bottom: 1px solid $darkf;
    }
  }
  img {
    cursor: pointer;
    margin: 0;
    float: left;
    padding-top: 3px;
    padding-left:1px;
    :hover {
      background-color: $darkf - 100;
    }
  }
}
.page-title{
  @extend %minangkabau-heading;
  font-size: 52px;
  color: $lightf;
  margin:0;
  padding: 0;
  text-shadow:1px 1px 1px #000000 ,1px 1px 1px #ffffff;
  cursor: pointer;
  @include screens(1210px){
    font-size: 46px;
  }@include screens(1055px){
     font-size: 43px;
   }
  @include screens(961px){
    font-size: 40px;
  }
  @include screens(764px){
    font-size: 36px;
  }
  @include screens(700px){
    font-size: 30px;
  }
  @include screens(590px){
    font-size: 27px;
  }
  @include screens(530px){
    font-size: 24px;
  }
  @include phone{
    font-size: 30px;
  }
  @include screens(460px){
    font-size: 27px;
  }
  @include screens(415px){
    font-size: 24px;
  }
}
.page-caption{
  font-family: Korean_Calligraphy;
  font-weight: 500;
  text-align: right;
  font-size: 18px;
  color: $lightf;
  margin:0;
  padding: 0;
  text-shadow:1px 1px 1px #000000 ,1px 1px 1px #ffffff;
  cursor: pointer;
  @include screens(961px){
    font-size: 16px;
  }
  @include tablet{
    font-size: 14px;
  }
  @include phone{
    font-size: 16px;
  }
  @include screens(460px){
    font-size: 14px;
  }
  @include screens(415px){
    font-size: 12px;
  }
}
.page{
  @include phone{
    margin-top: 7px;
    @include grid-span(4,3)
  }
}
.anime-dir{
  :hover{
    color: #f2d28f;
  }
  h1{
    @extend %bazar-heading;
    font-size: 33px;
    color: $lightf;
    margin:0;
    padding: 0;
    text-shadow:1px 2px 1px #000000 ,1px 1px 1px #ffffff;
    cursor: pointer;
    @include screens(961px){
      font-size: 25px;
    }
    @include tablet{
      font-size: 18px;
    }
    @include phone{
      display: none;
    }

  }
}