@import "constant";
.top-bar{
  #top-bar-logo{
    cursor: pointer;
    margin-bottom: 5px;
  }
  img{
    cursor: pointer;
  }
  background:$darkbg;
  div{
    div {
      .padding-lr-35{
        padding: 0 0vw 0 4vw;
        @include phone{
          padding: 0;
        }
      .search-box {
        border: 2px solid $darkf;
        border-radius: 5px;
        background-color: $darkf;
        margin-bottom: 5px;
        @include phone{
          border-radius: 2px;
        }
        input {
          border: 3px solid $darkf;
          @include phone{
            border-top: 2px solid $darkf;
            border-bottom: 2px solid $darkf;
          }
        }
        input[type=text]:focus, textarea:focus {
          box-shadow: none;
          outline: none;
          border: 2px solid $darkf;
          @include phone{
            border-top: 1px solid $darkf;
            border-bottom: 1px solid $darkf;
          }
        }
        img {
          cursor: pointer;
          margin: 0;
          float: left;
          padding-top: 0px;
          :hover {
            background-color: $darkf - 100;
          }
        }
      }
    }
      .padding-lr-35{
        .social {
          @include transition(all,0.2s,ease-in-out);
          :hover {
            background-color: $darkf;
            padding: 2px;
            @include  transition(all,0.2s,ease-in-out);
          }
        }
      }
    }
    position: relative;
  }
}