@import "constant";
@import "top-bar-social";
body{
  background-color: $lightbg;
}
#anime-dir{
  h1{
    @extend %bazar-heading;
    font-size: 60px;
    color: $darkf;
    margin:0;
    text-shadow:1px 1px 1px #ffffff ,3px 3px 1px #000000;
    margin-top: 3vh;
  }
  @include tablet{
    h1{
      font-size: 45px;
    }
  }
  @include phone{
    h1{
      font-size: 35px;
    }
  }
}